@media(max-width:887px){

   .nav_link{
     display: none;
   }

  

}
@media(max-width:462px){

   .proez_text{
     display: none;
   }

  

}
@media(max-width:592px){

   .btns{
     display: none;
   }

  

}
@media(max-width:420px){

    .header_text{

      h2{
         font-size: 40px;
      }
    }

  

}
@media(max-width:330px){
    


  .btn{
     width: 230px;
  }

}
@media(max-width:270px){
    


  .btn{
     display: none;
  }

}