* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sec_nav{
    background: #292929;
    height: 65px;
    display: flex;
    gap: 31px;
    align-items: center;
    
    
    p{
        font-size: 18px;
        color: white;
        margin: 21px;
        font-weight: 400;
    }
}
.section_cards{
    background: #393636;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   place-items: center;

}




.sec_card{
    background: #0C0C0C;
    width: 370px;
    margin: 15px;
    border-radius: 4px;
    
    

    img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px;
        width: 338px;
    }
    
    h4{
        color: white;
        max-width: 143px;
        margin: 15px;
    }

    p{
        color: white;
        max-width: 338px;
        margin: 15px;
    }

}

.container {
    max-width: 1109px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

:root{
    --text_white:#fff;
    --btn_green:#06600F;
    --btn_Ogreen:#69CF17BF;
    --proez_bg:#000000d2;
    --nav_bg:#0C0C0C;
    --text_green:#69CF17;
    --bg:#0C0C0C;
}

.proez_pro {
    display: flex;
    align-items: center;
    justify-content: space-between;


}




nav{
    background: var(--nav_bg);
}

.proez_text{
    display: flex;
    align-items: center;
    gap: 20px;
}

.er{
    font-size: 16px;
    font-weight: 400;
    color: var(--text_white);
}

.proez{
    background: var(--proez_bg);
    padding: 21px 0;
}

.proez_text{


    h2{
        font-size: 16px;
        font-weight: 400;
        color: var(--text_white);
    }
}

.logos{
    font-weight: 700;
    font-size: 36px;
    color: var(--text_white);
    background: var(--btn_green);
    border: none;
    padding: 12px;
    border-radius: 4px;
    border: 4px solid #05430b;
    
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.nav_link{
    font-weight: 400;
    font-size: 18px;
    color: var(--text_white);
    display: flex;
    align-items: center;
    gap: 28px;
    color: aliceblue;
    

   
}

.nav_hov{
    padding: 26px 20px;
    transition: .5s ;
}

.wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;


    button{
        padding: 6px 0;
    }
}


.nav_hov:hover{
 
    background: var(--btn_Ogreen);
 
}


.header_banner{
    background: url();
}

